<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" 
    default-init-method="afterPropertiesSet3" default-destroy-method="destroy3">
    <bean id="point" class="com.spring.Point">
    	<property name="pointX" value="1"></property>
    	<property name="pointY" value="2"></property>
    </bean><!--
    <bean id="parentTriangle"  class="com.spring.Triangle">
    	<property name="point" ref="point"></property>
    </bean>parent="parentTriangle"
    --><bean id="triangle"  class="com.spring.Triangle" init-method="afterPropertiesSet2" destroy-method="destroy2">
    	<property name="point" ref="point"></property>
    	<property name="point12" ref="point"></property>
    </bean>
    <bean id="myclass" class="com.spring.MyClass">
    </bean>
</beans>
