<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="point" class="com.spring.Point">
    	<property name="pointX" value="1"></property>
    	<property name="pointY" value="2"></property>
    </bean>
     <bean id="point12" class="com.spring.Point">
    	<property name="pointX" value="11"></property>
    	<property name="pointY" value="22"></property>
    </bean>
    
    <bean id="parentTriangle"  class="com.spring.Triangle">
    	<property name="point" ref="point"></property>
    </bean>
    
    <bean id="triangle"  class="com.spring.Triangle" parent="parentTriangle">
    	<property name="point" ref="point12"></property>
    	<property name="point12" ref="point12"></property>
    </bean>
</beans>
